<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-2">
    <h1 class="display-5 fw-bold">TP Gestion de notes de Documents</h1>
    <h3>Kyllian GILLES - Théo CAPITAINE - Pierre-Yves DELPLANQUE</h3>
    <hr>
    <p class="col-md-8 fs-4">
    </p>
    <ul>
      <li>Gestion des carnets</li>
      <li>Gestion des documents des carnets</li>
      <li>Recherche et manipulation de markdown</li>
    </ul>
    <br>
    <a class="btn btn-primary btn-lg m-2" routerLink="carnet">
      Gestion des Carnets
    </a> 
  </div>
</div>
